.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal__header {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #ffffff;
  border-bottom: 1px solid #d3d3d3;
  color: black;
  display: flex;
  justify-content: space-between;
}

.modal__header * {
  margin: auto 0;
}

.modal__content {
  padding: 0;
}

.modal__footer {
  padding: 0.5rem 0.5rem;
}

@media (min-width: 430px) {
  .modal-mini {
    left: calc(50% - 15rem);
    width: 30rem;
  }
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 25rem);
    width: 50rem;
  }
  .modal-mini {
    left: calc(50% - 15rem);
    width: 30rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
